<!DOCTYPE html>
<html>
    <head><title>404</title>
        <link rel="icon" href="/webserver/public/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body><div class="maincontent">
          {{>header}}
        <p>{{message}}</p>
    </div>
    
       {{>footer}}
    </body>
</html>